/* font-family: 'Chewy', cursive; */

html {
  background-color: black;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  width: 68vw;
  height: 100vh;
  grid-template: min(10rem, 18vh) 1fr / min(12rem, 20vw) 1fr;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  background-color: rgb(37, 150, 190);
  color: white;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  font-size: 1rem;
}

#logo {
  font-size: 1.3rem;
  padding: .8rem .8rem;
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
  gap: .5rem;
}

#logo img {
  height: 2rem;
}

ul {
  margin: 40px -1.7rem;
}

li {
  font-size: .8rem;
  list-style-type: none;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  align-content: flex-end;
  gap: .5rem;
}

header {
  background-color: white;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 30% 70%;
}

#headerTop {
  margin: 15px 30px;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 70% max-content max-content max-content;
  align-items: center;
  justify-items: center;
  gap: 20px;
  font-size: .8rem;
}

#search {
  justify-self: left;
  align-items: center;
}

input {
  background-color: rgba(225,232,240,255);
  width: 27vw;
  height: 1.1rem;
  border-radius: 40px;
  border: none;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#headerBottom {
  margin: 15px 30px;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 10% 50% 1fr 1fr 1fr;
  align-items: center;
}

#hiUser p, h4 {
  margin:0.2rem;
  margin-left: -0.5rem;
}

#hiUser p {
  font-size: .6rem;
  font-weight:900;
}

#headerBottom button {
  background-color: rgb(37, 150, 190);
  color: white;
  margin: 0.5rem;
  padding: 5px;
  border-radius: 40px;
  border: none;
}

main {
  background-color: rgba(225,232,240,255);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 75% 1fr;
  box-shadow: 0 -3px #D5DBDB;
}
/*
#articleContainer {
  display: grid;
  grid-row: 1 / 2;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid tomato;
}

#articleContainer article {
  display: grid;
  border: 1px solid red;
} */